/* Certificates */

.header-submenu > li > a .green, .header-submenu a {
    color: #8CC152 !important;
    font-size: 20px;
}

.header-submenu > li > a, .header-submenu a {
    /*color: #8CC152 !important;*/
    color: #dd0 !important;
    font-size: 20px;
}

/* Comparison Chart */

.comparison-chart .panel-heading h3 {
    color: #444;
}

.comparison-chart .btn-secure {
    background: #8CC152;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.comparison-chart th,
.comparison-chart tr > td:nth-child(4),
.comparison-chart tr > td:nth-child(5),
.comparison-chart tr > td:nth-child(6),
.comparison-chart tr > td:nth-child(7) {
    text-align: center;
}

.table {
    margin: 0;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table {
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}

.entry-content table {
    border: none;
    margin: 0;
}

/* Features */

.features {}

.features .items {
    padding: 0;
    margin: 0;
}

.features .items > div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 400px) {
    .features .items > div {
        text-align: left;
    }
}
